html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

html.dark-mode {
    --background-color: #1e1e1e;
    --text-color: #ffffff;
}

body {
    margin-bottom: 60px;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background 0.3s, color 0.3s;
}

.letter-box {
    flex: 0 0 auto; /* Förhindra att rutorna krymper för mycket */
    width: 2em;
    height: 2em;
    display: inline-block;
    width: 2em;
    height: 2em;
    border: 2px solid #333;
    margin: 0 0.2em;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}
/* Gör rutorna mindre på mobil */
@media (max-width: 600px) {
    .letter-box {
        width: 1.3em;
        height: 1.3em;
        font-size: 1.3em;
        margin: 0 0.1em;
    }
}

.letter-row {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 0.2em;
}

html.dark-mode .letter-box {
    border-color: #fff;
}

.card {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    /* Snygg övergång: */
    transition: background 0.3s, color 0.3s;
}
html.dark-mode .card-header,
html.dark-mode .card-footer {
    background-color: #2c2c2c !important; /* Ljusare mörk färg */
    color: #fff; 
}
.modal-body {
    color: #000000; /* Svart text */
}



