@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



    <!-- Full-width jumbotron -->
    <div class="py-5">
        <div class="container text-center">
            <h1 class="display-4 p-2">Hej och välkommen! Vi ska spela "Words".</h1>
            <p class="lead">Det går ut på att gissa rätt ord.</p>
            <hr class="my-4">
        <a href="/Game" class="btn btn-primary">Starta spelet</a>
        </div>
    </div>


