@page
@model PrivacyModel
@{
    ViewData["Title"] = "Kontakt";
}
<h1>@ViewData["Title"]</h1>

<div class="card text-center mt-5 mb-5">
    <div class="card-header lead">
        Aktuell info
    </div>
    <div class="card-body">
        <h5 class="card-title dsplay-4 p-2">Under utveckling</h5>
        <p class="card-text lead">Det här ordspelet är under utveckling. Därför saknas viss funktionalitet och ny tillkommer ibland.</p>
        <p class="card-text lead">Har du frågor eller önskemål får du gärna mejla.</p>
        <a class="btn btn-success btn-lg mt-5 mb-5"
           href="mailto:@Model.ContactEmail?subject=Fr%C3%A5ga%20om%20ordspelet&amp;body=Hej,%20jag%20har%20en%20fr%C3%A5ga%20om%20ordspelet.">
            Skicka mejl
        </a>
    </div>
    <div class="card-footer text-body-secondary text-sm">
        Uppdaterad: 2025-05-20
    </div>
</div>

<div class="card text-center mt-5 mb-5">
    <div class="card-header lead">
        Håll dig uppdaterad
    </div>
    <div class="card-body">
        <h5 class="card-title dsplay-4 p-2">Skriv upp dig på listan</h5>
        <p class="card-text lead">För dig som vill veta när nya funktioner och uppdateringar sker, eller om nya spel är på gång.</p>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe2MatbKhbEbTOpFq5XQ3CBJzooAPOAGWSvlSdtbY45pk4kUw/viewform?embedded=true"
                style="width: 100%; height: 600px; border:0; border-radius:0 0 .25rem .25rem; display:block;"
                allowfullscreen
                loading="lazy">
            Laddar...
        </iframe>
    </div>
</div>






